[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
jsonpickle = "*"
requests = "*"
termcolor = "*"
sqlparse = "*"
sqlalchemy = "*"

[dev-packages]
astroid = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pylint = "*"
wrapt = "*"

[requires]
python_version = "3.6"
