{% extends "layout.html" %}

{% block title %}
    Play cards!
{% endblock %}

{% block main %}
                <div>you're logged in. here's a list of your current games:
                <table  class="table table-striped">
                    {% for g in games %}
                        <tr><td><a href='/load_game?game_id={{ g.game_id }}'>{{ g.game_id }}</a></td></tr>
                    {% endfor %}
                </table>
                </div>
<div>or <a href='/play'>play a new game</a></div>
{% endblock %}
