{% extends "layout.html" %}

{% block title %}
Play cards!
{% endblock %}

{% block main %}

<p class="card-text" id="game-id">Your player ID {{session["user_id"]}}.</p>
<div>{{message}}</div>
<div>you're logged in. here's a list of your current games:

    <div class="container">
            <div class="row row-head" >
                    <div class="col">
                        Game ID
                    </div>
                    <div class="col">
                        Players requested
                    </div>
                    <div class="col">
                        Number who have joined
                    </div>
                    <div class="col">
                        Game finished?
                    </div>
        
                    <div class="col">
                        Game ready to start?
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
        {% for g in games %}
        <div class="row row-hover row-striped ">
            <div class="col">
                {{g.gameid}}
            </div>
            <div class="col">
                {{g.players_requested}}
            </div>
            <div class="col">
                {{g.number_of_players}}
            </div>
            <div class="col">
                {{g.game_finished == True }}
            </div>

            <div class="col">
                {{g.game_ready_to_start == True}}
            </div>
            <div class="col">
                {% if ((g.game_ready_to_start == True) and (g.game_finished == False)) %}
                <a href='{{url_for("load_game")}}?game_id={{ g.gameid }}'>Go to game --></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <div><h3>Here is a list of other games which are still short of players</h3></div>
    <div class="container">
            <div class="row row-head" >
                    <div class="col">
                        Game ID
                    </div>
                    <div class="col">
                        Players requested
                    </div>
                    <div class="col">
                        Number who have joined
                    </div>
                    <div class="col">
                        Game finished?
                    </div>
        
                    <div class="col">
                        Game ready to start?
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
        {% for g in new_games %}
        <div class="row row-hover row-striped ">
            <div class="col">
                {{g.gameid}}
            </div>
            <div class="col">
                {{g.players_requested}}
            </div>
            <div class="col">
                {{g.number_of_players}}
            </div>
            <div class="col">
                {{g.game_finished == True }}
            </div>

            <div class="col">
                {{g.game_ready_to_start == True}}
            </div>
            <div class="col">
                {% if ((g.game_ready_to_start == False) and (g.game_finished == False)) %}
                <a href='{{url_for("load_game")}}?add=1&game_id={{ g.gameid }}'>Go to game --></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    <div>or <a href='{{ url_for("startnewgame") }}'>Request a new game</a></div>
</div>
    {% endblock %}