{% extends "layout.html" %}
{% block head %}
<!-- https://github.com/rvera/image-picker/tree/master/image-picker -->
<script src='/static/image-picker.js'></script>
<link href="/static/image-picker.css" rel="stylesheet">
<script src='/static/gameplay.js'></script>

{% endblock %}

{% block title %}
    Play cards!
{% endblock %}

{% block main %}


<form action='/playcards' id='play-form'>
<div class="card-group">
    <div class="card bg-light mb-3">
      <div class="card-header">Rules of this game</div>
      <div class="card-body" id='game-rules'>

      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">about this game</div>
      <div class="card-body" id='player-info'>
        <p class="card-text" id='face-down-count'></p>
        <p class="card-text" id='face-up-count'></p>
        <p class="card-text" id='hand-count'></p>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">Turns</div>
      <div class="card-body">
        <p class="card-text" id="game-id"></p>
        <p class="card-text" id="player-id">Your player ID {{session["user_id"]}}.</p>
        <p class="card-text" id="ready-to-play-info">I dont know if we're ready to play</p>
      </div>
    </div>
</div>

<div id="game-container">

    <div class="row" id="game-row">
        </div>

</div>

</form>


{% endblock %}
